@keyframes rotating {
    0% {
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotateY(0deg);
      transform-origin: center;
    }
    50% {
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotateY(180deg);
      transform-origin: center;
    }

    100% {
        transform: rotateY(-0deg);
        transform-origin: center;
    }
  }
.home-wrapper {
    padding: 1rem;
    width: 100%;
    height: 80vh;
    background: linear-gradient(to right, #d9d9d9, #eed2ff);
    display: flex;
    justify-content: center;
    align-items: center;

    .rotating {
        -webkit-animation: rotating 2s linear infinite;
        -moz-animation: rotating 2s linear infinite;
        -o-animation: rotating 2s linear infinite;
        animation: rotating 10s linear infinite;
        
        h1 {
            font-size: 7rem;
            color: #fff;
            text-align: center;
            text-shadow: 3px 6px 4px grey;
        }
    }
}
